@charset "utf-8";
/* CSS Admin */
.clr { clear:both; }
.line { height:1px; width:100%; border-top:1px solid #fff; background:#f5f5f5; }

td#titulo h1 { font-family: 'Oswald', sans-serif; font-weight:normal; color:#233542; font-size:18px; display:inline; float:left; margin:0; padding:5px 0; }
#titulo input, .btn { float:left; background:url(../imagenes/bg_tabs_hover.png) repeat #73ce3e; border:none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; color:#fff; padding:5px 10px; cursor:pointer;font-family: oswald; font-weight: normal; text-transform: uppercase; }
.btn-suprim { float:left; background:url(../imagenes/bg_tabs_hover-suprim.png) repeat #e53116; border:none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; color:#fff; padding:5px 10px; cursor:pointer;font-family: oswald; font-weight: normal; text-transform: uppercase; }

.titles { font-family: 'Oswald', sans-serif; font-weight:normal; color:#666; font-size:14px; font-weight:300; margin:0; padding:5px 0; }
.first { font-family: 'Open Sans', sans-serif; font-size:12px; font-weight:600; text-transform:capitalize; background:#fff; }
.delete { color:#f00; text-decoration:none; }
.edit { color:#111; text-decoration:none; }
.view { color:#999; text-decoration:none; }


/* -------- Proyectos Editar --------*/
#upload span { font-family: 'Open Sans', sans-serif; font-size:10px; font-weight:normal; }
#upload span strong { color:#F00; }

#preview-img { border-left: 1px solid white; padding: 20px; }

#thetable { font-family: font-family: 'Oswald', sans-serif; font-size:12px; font-weight:600; text-transform:capitalize; 
background:#fff; border: solid 1px rgba(13,13,13,1.00); border-collapse:collapse; border-style:solid; }

#thetable tbody tr:nth-child(odd){
    background:#639;
    color: #FFFFFF; 
}

#thetable tbody tr:nth-child(even){
   background: #FFF7F7;
    color:#639;
}

.divdirtable{
	overflow:scroll;
	height:350px;
	width:100%;
}
.dirtable{
	border-top:#000 1px solid;
	border-bottom:#000 1px solid;
	border-right:#000 1px solid;
	border-left:#000 1px solid;
}

.dirtable thead tr th{
	 font-family: 'Oswald', sans-serif; font-weight:normal; color:#FFF; font-size:14px;  margin:2; padding:5px 0;
	 background-color: #050;
	 font-weight:bold;
	width: 210px;
	min-width:210px;
	border:#000 1px solid;
	border-top:#000 1px solid;
	border-bottom:#000 1px solid;
	border-right:#000 1px solid;
	border-left:#000 1px solid;
}

.dirtable tbody tr td{
	font-family: 'Oswald', sans-serif; font-weight:normal; color:#233542; font-size:12px;  margin:0; padding:5px 0;
	vertical-align:top;
	width: 210px;
	min-width:210px;
	border:#000 1px solid;
	border-top:#000 1px solid;
	border-bottom:#000 1px solid;
	border-right:#000 1px solid;
	border-left:#000 1px solid;
}