#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background: url(../imagenes/celeste80.png) repeat;
	display:none;
	z-index:1;
}

#cargador{
    position:absolute;
    top:30%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#detallediv{
					position:absolute;
					top:0;
					left:0;
					width:80%;
					height:250px;
					background-color:white;
					/*display:none;*/
					z-index:1;
			}
/**/