@charset "utf-8";
body {
	margin:0px;
	padding:0;
	background: #FFFFFF repeat-x;
	text-align: left;
	color: #333333;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	width:100%
}

table{
	border-collapse: collapse;
    /*border: 1px solid black;
	border-bottom:	1px solid black;
	border-right:	1px solid black;
	border-left:	1px solid black;
	border-top:		1px solid black;*/
 }
.cabezales{
	border:#000 solid 1px;
}
.tableCuerpo{
	border: 1px solid black;
	border-collapse: collapse;
}

.celBody {
	border-bottom:	1px solid black;
	border-right:	1px solid black;
	border-left:	1px solid black;
	border-top:		1px solid black;
	font-size: 10px;
}

.tableCuerpo th{
	border-bottom:	1px solid black;
	border-right:	1px solid black;
	border-left:	1px solid black;
	border-top:		1px solid black;
	background:#CCC;
}

.tableincell{
	border-collapse: collapse;
}

.2CellsLeftCell {
	border-bottom:	0px solid white;
	border-right:	1px solid black;
	border-left:	0px solid white;
	border-top:		0px solid white;
	
}

.2CellsRigthCell {
	border-bottom:	0px solid white;
	border-right:	0px solid white;
	border-left:	0px solid white;
	border-top:		0px solid white;
}
