/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
	.clear{ clear: both; }
	
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: url(../imagenes/celeste80.png);
		z-index: 300;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #fff;
		position: absolute;
		z-index: 99999;
		padding: 30px 40px 34px;
		border: 10px solid #000;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: -15px;
		right: -15px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		display: block; width: 30px; padding: 7px 0 10px 0; background: #F4C337; color: #fff; border: 3px solid #fff; font-weight: bold; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; box-shadow: 0px 0px 3px #000;
		}
		
	.mywrapper{
		margin: auto;
		text-align: left;
	}
	.modal-logo{
	 	padding: 0 0 20px 0;
	}
	#myModalId h1{
		color: #000;
		/*#9ecb3a;*/
		margin: 0;
		padding: 0;
		font-size: 20px;
		font-weight: bold;
	}
	#myModalId h2{
		margin: 0;
		padding: 10px 0 5px 0;
		font-size: 12px;
		font-weight: normal;
	}
	.modalItem{
		padding: 5px 0 15px 0;
	}
	.modalItem02{
		padding: 5px 0 0 0;
	}
	.modalItemRight{
		width: 270px;
		float: right;
	}
	.modalItemRight a{
		color: #666;
		font-size: 11px;
	}
	.modalItemRight a:hover{
		color: #111;
	}
	.modalItemLeft{
		width: 120px;
		padding: 5px 10px 0 0;
		float: left;
		text-align: right;
	}
	.modalItemButton{
		padding: 20px 0 0 0;
		width: 400px;
		margin: auto;
		text-align: right;
	}
	.padding5{
		padding: 5px 0 0 0;
	}
	.modalButton{
		background: url(../imagenes/yellow-ibutton.png) no-repeat right center #9ecb3b;
		font-size: 11px;
		/*color: #fff;*/
		border: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 5px;
		width: 110px;
		text-align: left;
	}
	.modalLista{
		font-size: 12px;
	}
	.modalInput{
		border: 2px solid #eee;
		padding: 3px;
		width: 260px;
		font-size: 12px;
	}
	#myModalId label{
		font-size: 12px;
	}
	#myModalId span.label{
		font-size: 13px;
		font-weight: bold;
		display: block;
	}
	.infoModal{
		width: 378px;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 12px;
	}
	.infoError{
		background: #f2dede;
		border: 1px solid #eed3d7;
		color: #b94a48;
	}
	.infoCorrecto{
		background: #dff0d8;
		border: 1px solid #d6e9c6;
		color: #468847;
	}
	
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	pago terreno no sale la escritura, clausula, patrimonio familiar, quitar la clausula. col: ampliacion jardines de la silla juarez,  maria magdalena saabedra sanmiguel, avenida sta barbara 217. lote 7, manzana 184
	*/
