@charset "utf-8";
/* CSS Document */

#info {padding-bottom:100px;}


.outer {
position:relative;
padding:4em 0 3em 0;
width:54em;
background:#eee;
margin:0 auto 3em auto;
}
.innera {
overflow:auto;
width:54em;
height:9.6em;
background:#eee;
}
.outer table caption {
position:absolute;
width:51.7em;
text-align:center;
top:0;
left:0;
height:1.5em;
background:#697210;
border:0.1em solid #fff;
color:#fff;
}
.outer thead tr {
position:absolute;
top:1.5em;
height:1.5em;
left:0;

}
.outer tfoot td {
position:absolute;
width:51.5em;
text-align:center;
background:#f0c992; 
border:0.1em solid #000;
color:#000;
bottom:0;
left:0;
font-size:1em;
}
.outer th, .outer td {
width:10em; 
text-align:left;

}
.outer th {
background:#724a10; 
color:#fff;}
.outer .dk 
{
background:#fff;
}

.tableone {width:588px; border-collapse:collapse; margin:0 auto;}
.tabletwo {width:588px; border-collapse:collapse;}
.th1 {width:149px;}
.th2 {width:100px;}
.th3 {width:100px;}
.th4 {width:100px;}
.th5 {width:100px;}
.th6 {width:100px;}
.th7 {width:100px;}



.td1 {width:149px;}
.td2 {width:100px;}
.td3 {width:100px;}
.td4 {width:100px;}
.td5 {width:100px;}
.td6 {width:100px;}
.td7 {width:100px;}



.tableone {background-color:#800080;; border:1px solid #fff; color:#fff;}
.tableone thead th a {color:#CCCCCC}
.tableone td {border:1px solid #fff; color:#fff;}
.tableone tbody {background:#F4F4F4; color:#000;}
.tableone caption {background:#fff; color:#697210; font-size:1.2em; margin:0 auto;}
.tabletwo td {background:#eee; color:#000; font-size:1.2em;}
.tableone th, .tabletwo th {text-align:left;font-size:1.2em;}
.tabletwo tr.dk td {background:#ddd; color:#000;}

.tabletwo tr.d0 td {background-color: #FCF6CF;}
.tabletwo tr.d1 td {background-color: #FEFEF2;}

.innerb {height:11em; overflow:auto;}

