@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css";


body {
  margin: 0;
}

header {
  background-color: #4096ee;

}

/* Micro clearfix */

header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}


nav {
  transition: .6s ease-in-out;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  overflow-x: scroll;
  max-height: 0;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 31.25em) {
  nav {
    max-height: none;
    background: none;
    box-shadow: none;
    overflow: hidden;
  }
}

.show {
  box-shadow: inset -2px 0 3px rgba(black,0.6);
  max-height: 15em;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  text-align: justify;
  width: 30em;
}


ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}

@media (min-width: 31.25em) {
  ul {
    background-color: #4096ee;
    width: 100%;
  }
}


li {
  background-color: #161616;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-family: arial;
  font-size: 1.2rem;
  padding: 0.6em;
  text-align: center;
  width: 3.5em;
}
@media (min-width: 31.25em) {
  li {
    background: none;
    box-shadow: none;
    font-size: 1.5rem;
    padding: 0;
    width: auto;
  }
}
li:first-child {
  margin-left: 0.5em;
}
li:last-child {
  margin-right: 0.5em;
}
li a {
  color: #ccc;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 31.25em) {
  li a {
    color: #fff;
  }
}

li a:before {
  display: block;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-decoration: inherit;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 48.875em) {
  li a:before {
    display: inline-block;
    margin-right: 0.3em;
  }
}

/* Used nth-childs to allocate icons to keep the HTML markup clean */ 

li:first-child a:before {
  content: '\f015';
}
li:nth-child(2) a:before {
  content: '\f05a';
}
li:nth-child(3) a:before {
  content: '\f0b1';
}
li:nth-child(4) a:before {
  content: '\f0e0';
}


/* The Menu Nav Button */

.icon-th {
  color: #fff;
  float: right;
  font-size: 2rem;
  margin: 0.3em 0.4em;
}

@media (min-width: 31.25em) {
  .icon-th {
    display: none; 
  }
}