/* Copyright 2006 Joost de Valk 
a img {
	border: 0;
}
table.sortable {
	border-spacing: 0;
	border: 1px solid #000;
	border-collapse: collapse;
}
table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	width: 200px;
	border-style: solid;
	border-color: #444;
}
table.sortable th {
	border-width: 0px 1px 1px 1px;
	background-color: #ccc;
}
table.sortable td {
	border-width: 0px 1px 0px 1px;
}
table.sortable tr.odd td {
	background-color: #ddd;
}
table.sortable tr.even td {
	background-color: #fff;
}
table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}*/

/* Copyright 2006 Joost de Valk */
a img {
	border: 0;
}
table.sortable {
	border-spacing: 0;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	border-collapse: collapse;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 90%;
	margin: 0 auto;
}
table.sortable th, table.sortable td {
	text-align: center;
	padding: 2px 4px 2px 4px;
	width: 100px;
	max-width:200px;
	min-width:30px;
	border-style: solid;
	border-color: #aaa;
	font-size: 11px;
}
table.sortable th {
	border-width: 1px 0px 1px 0px;
	background-color: #ccc;
}
table.sortable th a {
	text-decoration: none;
	color: #000;
}
table.sortable td {
	border-width: 0px;
}
table.sortable tr.odd td {
	background-color: #fff;
}
table.sortable tr.even td {
	background-color: #ddd;
}
table.sortable tr.sortbottom td {
	border-width: 1px 0px 1px 0px;
	background-color: #ccc;
	font-weight: bold;
}
div#toc {
	float: right; 
	width: 150px;
	min-width:30px;
	background-color: #ddd; 
	padding: 5px 5px 5px 8px; 
	margin: 0 0 0 5px; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}