/* 
    Document   : style
    Created on : 26/01/2011, 01:09:42 PM
    Author     : JV Software
    Description:
        Estilos para tutorial 8.
*/

body {
    background: #FFFFFF;
    font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
}

#main {
    margin: 50px auto;
    width: 950px;
    padding: 0 11px 11px;
    border: 1px solid #C3D0DF;
}

#main h1 {
    color: #59839F; 
    border-bottom: 1px dotted #59839F; /*letras de encabezado*/
}

#main table {
    margin-top: 10px;
    width: 100%;
	font-size: 11px;
}

#main table th{
    background: #800080;
    color: #FFFFFF;
	font-size: 11px;
}

#main table tbody tr:nth-child(even) td{
    background: #ffe2ff ;
	font-size: 11px;
}

